﻿@{
    Layout = null;
    ViewBag.Title = "Home Page";
}

<html>
<head>
    <title>Shop</title>
</head>

<body>
<div>
    <table>
        <tr>
            <td>ID</td>
            <td>Name</td>
            <td>Cost</td>
        </tr>
        @foreach (var item in ViewBag.Products)
        {
        <tr>
            <td>@item.ID</td>
            <td>@item.Name</td>
            <td>@item.Cost</td>

        </tr>
        }
    </table>
</div>
</body>
</html>